<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>companion</title>
</head>
<body>

  <div id="main">
    <h1>companion</h1>
    <h2><span style="color: black;">Create a Page</span> for a celebrity, brand or business.</h2>
        
    <div id="box1">

      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="password">
        <input  type="submit" value="Log in">
      </form>

      <a href=""><h1>Forgotten password?</h1></a>
      <hr>
       <div id="create"><h4>Create new account</h4></div>


    </div>

    <div id="box2">
    
      
      <div id="box3">
        <h1>Sign up</h1>
        <h2>It's quick and easy.</h2>
        <svg id="cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/></svg>
         

        <form action="/register" method="post">
          <input type="text" placeholder="first Name" name="username">
          <input type="text" placeholder="surname" name="surname">
          <input type="text" placeholder="mobile number or email address" name="email">
          <input type="password" placeholder="New password" required name="password">
          <input type="date" name="date">
          <input type="radio" name="gender" value="male">Male</input>
          <input type="radio" name="gender" value="female">Female</input>
          <input type="submit">

        </form>
        <h3>By clicking Sign Up, you agree to <span style="color: blue;">our Terms</span>, Data Policy and Cookie Policy.<br>
           You may receive <span style="color: blue;">SMS</span> notifications from us and can opt out at any time.</h3>

      </div>
    </div>


    

  </div>



  <script src="../javascripts/script.js"></script>
</body>
</html>