*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #e2f3f8; 
}
#main{
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  
}
#main h1{
  position: absolute;
  top: 30%;
  left:5%;
  font-size: 10vw;
  font-weight: 700;
  color: rgb(0, 115, 255);
  font-family: gilroy;
  z-index: 10;
}
#main h2{
  position: absolute;
  top: 56%;
  left:34.5%;
  font-size: 1vw;
  font-weight: 700;
  color: rgb(0, 115, 255);
  font-family: gilroy;
}
#box1{
  
  height: 45vh;
  width: 28vw;
  background-color: rgb(175, 167, 167);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%,-50%);
  border-radius: 12px;
background: #fffefe;
box-shadow:  11px 11px 38px #a6a5a5,
             -1px -1px 0px #9c9999;
}
#box1 input{
  margin-top: 4%;
  margin-left: 5%;
  height: 6vh;
  width: 25vw;
  padding-left: 20px;
  border-radius: 10px;
  border: 1px solid lightblue;
}
#box1 input:nth-child(3){
  background-color:rgb(0, 102, 255);
  color: aliceblue;
  padding-left:0px;
  
}
#box1 h1{
  font-size: 1vw;
  color: blue;
  position: absolute;
  top: 63%;
  left: 32%;
  font-weight: 100;
}
#box1 hr{
  margin-top: 16%;
 
  border: 0.1px solid rgb(199, 197, 197);
  
}
#create{
  position: relative;
  height: 6vh;
  width: 16vw;
  border-radius: 8px;
  margin-left: 21%;
  margin-top: 4%;
  background-color: rgb(66, 163, 66);
  cursor: pointer;
}
#create h4{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2vh;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  white-space: nowrap;
  transform: translate(-50%,-50%);
}
#box2{
  position: relative;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(150, 218, 228, 0.527);
  z-index: 1000;
  transition: all cubic-bezier(0.19, 1, 0.22, 1);
}
#box3 h1{
  margin-top: -30%;
  margin-left: 1%;
  font-size: 2vw;
  font-family: gilroy;
  font-weight: 900;
  color: rgb(78, 76, 76);
  
}
#box3 h2{
  font-size: 1vw;
  position: absolute;
  top: 9%;
  left: 6%;
  color: rgb(19, 157, 237);

}

#box3 svg{
  position: absolute;
  right: 10%;
  top: 5%;
}
#box3{
  position: absolute;
  top: 5%;
  left: 30.4%;
  height: 90vh;
  width: 40vw;
  border-radius: 10px;
  background-color: #ffffff;
}
#box3 form{
  
  position: absolute;
  top: 20%;
  left: 4%;
}
#box3 input{
  margin-top: 1%;
  border-radius: 3px;
  border: 1px solid lightblue;
  height: 6vh;
  padding-left: 5%;
  width: 18vw;
}
#box3 input:nth-child(3){
  width: 36.3vw;
}
#box3 input:nth-child(4){
  width: 36.3vw;
}
#box3 input:nth-child(5){
  width: 36.3vw;
}
#box3 input:nth-child(6){
  margin-top: 5%;
  width: 3.3vw;
  height: 2.5vh;
  display:flexbox;
}
#box3 input:nth-child(7){
  width: 3.3vw;
  height: 2.5vh;
  display:flexbox;
}
#box3 input:nth-child(8){
  position: absolute;
  top: 160%;
  padding: 0px 10px;
  left: 25%;
  height: 6vh;
  width: 16vw;
  border-radius: 8px;
  font-size: 2.5vh;
  color: white;
  font-family: gilroy;
  font-weight: 700;
  background-color: rgb(66, 163, 66);
}
#box3 h3{
  position: absolute;
  bottom: 30%;
  left: 5.5%;
  font-size: 1vw;
  font-family: gilroy;
  font-weight: 100;
  color: gray;
}

